/* Mobile phone view*/
img {
  width: 100vw;
  height: 170px;
  margin: -40px 0 100px;
}

.terminology,
.name {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

.terminology {
  font-size: 18px;
  line-height: 20.6%;
  color: var(--faintWhite);
  margin-bottom: 12px;
  height: 21px;
}

.name {
  font-size: 24px;
  line-height: 27.5%;
  color: var(--white);
  height: 28px;
}

.description {
  font-size: 15px;
  line-height: 180%;
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--lightBlue);
  margin: 0 0 24px 0;
  height: 162px;
  padding: 0 24px;
}

/* Tablet view*/
@media (min-width: 746px) {
  img {
    height: 357px;
    margin: -150px 0 150px 0;
  }

  .terminology {
    font-size: 24px;
    line-height: 27.5%;
    margin-bottom: 16px;
    height: 28px;
  }

  .name {
    font-size: 40px;
    line-height: 45.8%;
    height: 46px;
    margin-bottom: 16px;
  }

  .description {
    font-size: 16px;
    margin: 0 155px;
    height: 145px;
  }
}
/* Desktop view*/
@media (min-width: 1440px) {
  img {
    position: absolute;
    right: 0;
    bottom: 115px;
    width: 608px;
    height: 600px;
    margin: 0;
  }

  .terminology {
    font-size: 32px;
    line-height: 36.7%;
    height: 37px;
  }

  .name {
    font-size: 56px;
    line-height: 64.2%;
    height: 64px;
  }

  .description {
    font-size: 18px;
    margin: 0;
    height: 160px;
    padding:0;
  }
}
