@media (min-width: 320px) {
  .role {
    height: 21px;
    font-size: 18px;
    line-height: 24.6%;
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--faintWhite);
    margin: 24px 0 8px 0;
  }

  .name {
    height: 28px;
    font-size: 24px;
    line-height: 27.5%;
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    margin-bottom: 16px;
  }

  .bio {
    font-size: 15px;
    line-height: 180%;
    font-family: "Barlow", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--lightBlue);
    height: 164px;
    margin-bottom: 24px;
  }

  /* figure out how to blur image on the bottom */
  img {
    position: absolute;
    bottom: 24px;
    left: 64px;
    width: 271px;
    max-height: 340px;
  }
}
/* Tablet view*/
@media (min-width: 746px) {
  .role {
    height: 28px;
    font-size: 24px;
    line-height: 27.5%;
    margin: 0 0 16px 0;
  }

  .name {
    height: 46px;
    font-size: 40px;
    line-height: 45.8%;
    margin-bottom: 24px;
  }
  .bio {
    font-size: 16px;
    height: 117px;
    padding:0 84px;
  }

  img {
    bottom: 0;
    left: 200px;
    width: 446px;
    max-height: 491px;
  }
}
/* Desktop view*/
@media (min-width: 1440px) {
  .role {
    font-size: 32px;
    line-height: 36.7%;
    height: 37px;
  }

  .name {
    height: 64px;
    font-size: 56px;
    line-height: 64.2%;
    width: 600px;
    
    
  }

  .bio {
    font-size: 18px;
    height: 96px;
    margin-bottom: 80px;
    padding:0 84px 0 0;
    width: 539px;
  }

  img {
    bottom: 48px;
    left: 785px;
    width: 539px;
    max-height: 676px;
  }
}
