<div class="crew-flex">
    <div class="left-side">
        <h2 class="nav-title">MEET YOUR CREW</h2>
        <router-outlet></router-outlet>
        <nav>
            <a class="crew-browse" [routerLink]="['/crew', 'Douglas Hurley']" routerLinkActive="selected forReal"></a>
            <a class="crew-browse" [routerLink]="['/crew', 'Mark Shuttleworth']" routerLinkActive="selected forReal"></a>
            <a class="crew-browse" [routerLink]="['/crew', 'Victor Glover']" routerLinkActive="selected forReal"></a>
            <a class="crew-browse" [routerLink]="['/crew', 'Anousheh Ansari']" routerLinkActive="selected forReal"></a>
        </nav>
    </div>
</div>

