/* Mobile phone view*/

.destination-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 90vh;
  padding: 24px 24px 0 24px;
}

.nav-title,
nav a {
  font-family: "Barlow Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

.name,
.nav-title,
nav a.selected {
  color: var(--white);
}

.description,
nav a {
  color: var(--lightBlue);
}

.nav-title {
  font-size: 16px;
  line-height: 19.2%;
  letter-spacing: 15%;
  margin-bottom: 48px;
  padding: 0 0 0 48px;
  height: 19px;
}

nav a {
  font-size: 14px;
  line-height: 16.8%;
  background-color: transparent;
  letter-spacing: 15%;
  border: none;
  text-decoration: none;
  text-decoration-thickness: 3px;
  text-underline-offset: 15px;
  margin: 0 16px;
}

nav a.selected {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 15px;
}

nav {
  margin-bottom: 24px;
  height: 32px;
}

.name {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
  line-height: 64.2%;
  margin-bottom: 16px;
  height: 64px;
}

.description {
  font-size: 15px;
  line-height: 180%;
  height: 135px;
}

.distance-label,
.travel-label {
  font-size: 14px;
  line-height: 16.8%;
  letter-spacing: 2px;
  margin-bottom: 12px;
  height: 17px;
}

/* Tablet view*/
@media (min-width: 746px) {
  .destination-flex {
    padding: 40px 0 0 0;
  }

  .nav-title {
    font-size: 20px;
    line-height: 24%;
    margin-bottom: 66px;
    height: 24px;
    align-self: flex-start;
  }

  nav a {
    font-size: 16px;
    line-height: 19.2%;
    letter-spacing: 2px;
    margin: 0 16px;
  }

  nav a.selected {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
  }

  .name {
    font-size: 80px;
    line-height: 91.7%;
    height: 92px;
  }

  .description {
    height: 87px;
    margin-bottom: 24px;
    padding: 0 85px;
  }

  .bottom-flex {
    display: flex;
    justify-content: space-between;
  }

  .travel,
  .distance {
    width: 245px;
  }

  .distance-value,
  .travel-value {
    margin: 0;
  }
}
/* Desktop view*/
@media (min-width: 1440px) {
  .destination-flex {
    padding: 48px 165px;
  }

  .nav-title {
    font-size: 28px;
    line-height: 33.6%;
    letter-spacing: 15%;
    height: 34px;
    letter-spacing: 4px;
  }

  .desktop-flex {
    position: absolute;
    right: 165px;
    bottom: 48px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 539px;
    height: 734px;
    padding: 133px 47px;
  }

  nav a {
    margin: 0 32px 0 0;
  }

  nav a.selected {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
  }

  nav {
    margin-bottom: 40px;
  }

  .name {
    font-size: 96px;
    line-height: 110%;
    height: 110px;
  }

  .description {
    font-size: 18px;
    height: 128px;
    margin-bottom: 40px;
    padding: 0;
  }

  .bottom-flex {
    display: flex;
    justify-content: space-between;
  }
}
