<div class="destination-flex">
  <div class="nav-title"><span>01</span> PICK YOUR DESTINATION</div>
  <div class="desktop-flex">
    <nav>
      <a
        [routerLink]="['/destination', 'moon']"
        routerLinkActive="selected forReal"
        >MOON</a
      >
      <a
        [routerLink]="['/destination', 'mars']"
        routerLinkActive="selected forReal"
        >MARS</a
      >
      <a
        [routerLink]="['/destination', 'europa']"
        routerLinkActive="selected forReal"
        >EUROPA</a
      >
      <a
        [routerLink]="['/destination', 'titan']"
        routerLinkActive="selected forReal"
        >TITAN</a
      >
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
