/* Mobile phone view*/

.destination-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 90vh;
  padding: 24px 24px 0 24px;
}

.nav-title,
a {
  font-family: "Barlow Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-title,
a.selected {
  color: var(--white);
}

span {
  color: var(--faintWhite);
  margin-right: 24px;
}

.nav-title {
  font-size: 16px;
  line-height: 19.2%;
  letter-spacing: 15%;
  margin-bottom: 50px;
  padding: 24px 0 0 0px;
  height: 19px;
}

a {
  color: var(--lightBlue);
  font-size: 14px;
  line-height: 16.8%;
  background-color: transparent;
  letter-spacing: 15%;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  margin: 0 16px;
  transition: all 500ms ease;
  padding-bottom: 8px;
}

a:hover {
  border-bottom: 3px solid var(--faintWhite);
  color: var(--white);
}

a.selected {
  border-bottom: 3px solid var(--white);
}

nav {
  position: relative;
  top: 200px;
  margin-bottom: 24px;
  height: 32px;
}

/* Tablet view*/
@media (min-width: 746px) {
  .destination-flex {
    padding: 40px 0 0 0;
  }

  .nav-title {
    font-size: 20px;
    line-height: 24%;
    margin-bottom: 66px;
    height: 24px;
    align-self: flex-start;
  }
  nav {
    position: relative;
    top: 370px;
    margin-bottom: 24px;
    height: 32px;
  }

  a {
    font-size: 16px;
    line-height: 19.2%;
    letter-spacing: 2px;
    margin: 0 16px;
  }

  .name {
    font-size: 80px;
    line-height: 91.7%;
    height: 92px;
  }

  span {
    margin: 0 24px 0 48px;
  }

  .bottom-flex {
    display: flex;
    justify-content: space-between;
  }
}
/* Desktop view*/
@media (min-width: 1440px) {
  .destination-flex {
    padding: 48px 165px;
  }

  .nav-title {
    font-size: 28px;
    line-height: 33.6%;
    letter-spacing: 15%;
    height: 34px;
    letter-spacing: 4px;
  }

  .desktop-flex {
    position: absolute;
    right: 165px;
    bottom: 48px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 539px;
    height: 734px;
    padding: 133px 47px;
  }

  a {
    margin: 0 32px 0 0;
  }

  nav {
    position: static;
    margin-bottom: 40px;
  }

  .bottom-flex {
    display: flex;
    justify-content: space-between;
  }
}
