/* Mobile phone view*/

.technology-flex {
  text-align: center;
  max-height: 90vh;
}

.nav-title {
  font-size: 16px;
  line-height: 19.2%;
  font-family: "Barlow Condensed", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 15%;
  color: var(--white);
  margin-top: 24px;
  height: 19px;
}

span {
  color: var(--faintWhite);
  margin-right: 24px;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
  top: 240px;
}
/* links go above the mobile menu when it comes out */
a {
  margin: 0 8px;
  font-size: 18px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: var(--white);
  line-height: 40px;
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 25%);
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

a:hover,
a:active,
.selected {
  background-color: white;
  color: var(--darkBlue);
}

/* Tablet view*/
@media (min-width: 746px) {
  .technology-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  .nav-title {
    font-size: 20px;
    line-height: 24%;
    margin: 0 0 88px 0;
    height: 24px;
    align-self: flex-start;
  }

  nav {
    top: 350px;
  }

  a {
    font-size: 24px;
    height: 56px;
    width: 56px;
    line-height: 56px;
  }
}
/* Desktop view*/
@media (min-width: 1440px) {
  .technology-flex {
    padding: 48px 0 48px 165px;
  }

  .seperator {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 650px 0 150px;
  }

  .nav-title {
    font-size: 28px;
    line-height: 33.6%;
    margin: 40px 0 239px 0;
    height: 34px;
  }

  nav {
    position: absolute;
    flex-direction: column;
    left: 165px;
    bottom: 200px;
  }

  a {
    font-size: 32px;
    height: 80px;
    width: 80px;
    margin: 16px 64px 16px 0;
    line-height: 80px;
    cursor: pointer;
  }
}
