/* Mobile phone view*/

img {
  position: relative;
  bottom: 50px;
  width: 150px;
  height: 150px;
  margin-bottom: 56px;
}

.name,
.distance-value,
.travel-value {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

.distance-label,
.travel-label,
.description {
  color: var(--lightBlue);
}

.distance-value,
.travel-value,
.name {
  color: var(--white);
}

.name {
  font-size: 56px;
  line-height: 64.2%;
  margin: 0;
  height: 64px;
}

.description {
  font-size: 15px;
  line-height: 180%;
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
  height: 135px;
}

.hline {
  height: 1px;
  background-color: hsl(0, 0%, 25%);
  margin: 24px 0;
}

.distance-label,
.travel-label {
  font-family: "Barlow Condensed", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16.8%;
  letter-spacing: 2px;
  margin-bottom: 12px;
  height: 17px;
}

.distance-value,
.travel-value {
  font-size: 28px;
  line-height: 32.1%;
  height: 32px;
  margin-bottom: 24px;
}
/* Tablet view*/
@media (min-width: 746px) {
  img {
    width: 300px;
    height: 300px;
    margin-bottom: 74px;
  }

  .name {
    font-size: 80px;
    line-height: 91.7%;
    height: 92px;
  }

  .description {
    height: 87px;
    margin-bottom: 24px;
    padding: 0 85px;
  }

  .hline {
    margin: 0 85px 36px 85px;
  }

  .bottom-flex {
    display: flex;
    justify-content: center;
  }

  .travel,
  .distance {
    width: 245px;
  }

  .distance-value,
  .travel-value {
    margin: 0;
  }
}
/* Desktop view*/
@media (min-width: 1440px) {
  img {
    position: absolute;
    left: -600px;
    bottom: 70px;
    width: 480px;
    height: 480px;
  }

  .desktop-flex {
    position: absolute;
    right: 165px;
    bottom: 48px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 539px;
    height: 734px;
    padding: 133px 47px;
  }

  .name {
    font-size: 96px;
    line-height: 110%;
    height: 110px;
  }

  .description {
    font-size: 18px;
    height: 128px;
    margin-bottom: 40px;
    padding: 0;
  }

  .hline {
    margin: 0 0 40px 0;
  }
}
