/* Mobile phone view*/
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  max-height: 90vh;
}

.intro,
.hook {
  color: var(--lightBlue);
}

.intro {
  font-family: "Barlow Condensed", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19.2%;
  letter-spacing: 15%;
  margin: 0 0 24px 0;
  height: 24px;
}

button,
.title {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  color: var(--white);
  font-size: 80px;
  line-height: 91.7%;
  margin: 0 0 24px 0;
  height: 92px;
}

.hook {
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 180%;
  height: 135px;
  margin-bottom: 80px;
}

button {
  border-radius: 50%;
  height: 144px;
  width: 144px;
  border: none;
  font-size: 18px;
  line-height: 20.6%;
  color: var(--darkBlue);
}
/* Tablet view*/
@media (min-width: 746px) {
  .flex-container {
    padding: 128px;
  }

  .intro {
    font-size: 28px;
    line-height: 33.6%;
    letter-spacing: 4px;
    height: 34px;
  }

  .title {
    font-size: 144px;
    line-height: 165%;
    height: 165px;
  }

  .hook {
    font-size: 16px;
    height: 87px;
  }

  button {
    height: 274px;
    width: 274px;
    font-size: 32px;
    line-height: 36.7%;
  }
}

@media (min-width: 1440px) {
  .flex-container {
    flex-direction: row;
    text-align: left;
    padding: 128px 165px;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 343px;
  }

  .intro {
    margin: 289px 0 24px 0;
  }

  .hook {
    font-size: 18px;
    height: 96px;    
  }

  button {
    position: absolute;
    bottom: 199px;
    right: 128px;
    box-shadow: 0 0 0 90px rgba(255, 255, 255, 0);
    transition-duration: 500ms;
    transition-timing-function: ease-in;
  }

  button:hover {
    cursor: pointer;
    color: rgb(83, 98, 172, 0.5);
    box-shadow: 0 0 0 90px rgba(255, 255, 255, 0.1);
    background-color: var(--white);
  }
}
